# auto gen folders
.mixin.out/
crash-reports/
defaultconfigs/
logs/
natives/
saves/
schematics/
screenshots/
shaderpacks/

# auto gen files
background.png
config.json
manifest.json
options.txt
optionsof.txt
realms_persistence.json
TrashSlotSaveState.json
usercache.json
usernamecache.json

# excluded client-side mods
mods/OptiFine*.jar

# Auto gen IDE profiles
.vscode/

# Luancher files
.curseclient
minecraftinstance.json

# Misc.
*.bak